* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: .3rem;
  box-sizing: border-box;
}

body,
html,
#wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#wrap {
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
}

header .top {
  width: 90%;
  padding: 0 5%;
  height: .8rem;
  line-height: .8rem;
  display: flex;
  background: #fff;
  border-radius: .3rem;
  position: absolute;
  top: .3rem;
  left: 5%;
  z-index: 10;
}

header .top span {
  padding: 0 .2rem;
}

header .top form {
  margin-left: .3rem;
}

header .top form input {
  border: none;
}

header .banner img {
  width: 100%;
  height: 4.3rem;
}

main {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}

main .list_in {
  padding: .2rem 0 .8rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .list_in dl {
  width: 20%;
  text-align: center;
}

main .list_in dl dt {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
}

main .list_in dl dt span {
  width: 100%;
  height: 100%;
  line-height: 1rem;
  display: block;
  border-radius: 50%;
  background: burlywood;
}

main .list_in dl dt span i.icon {
  font-size: .6rem;
}

main .list_in dl dd {
  margin: .2rem 0;
}

main .news {
  display: flex;
  padding: .2rem 0;
  border-bottom: 1px solid #ccc;
}

main .news img {
  width: 20%;
  height: 100%;
}

main .news p span {
  display: block;
}

main .news p em {
  font-style: normal;
}

main .show {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .show dl {
  width: 44%;
  background: #ebeeee;
  display: flex;
  padding: .2rem 0;
  margin: .2rem 0;
  justify-content: space-around;
}

main .show dl img {
  width: 1rem;
}

footer {
  width: 100%;
  height: 1.4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer dl {
  width: 20%;
  padding-top: .2rem;
  text-align: center;
}

footer dl dt i {
  font-size: .36rem;
}

footer dl dd {
  margin-top: .06rem;
}
